@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your information and data is not collected. There is no server to save data so your information and data would have no 
    where to be stored. Tim Apple and Bill Microsoft could demand and offer billions of dollars to have your information but
    they wont be getting as there is nothing to give.
</p>
